body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
}

.background {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    margin-left: 100px;
    border-radius: 10px;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}

.profile-pic img {
    width: 100%;
    height: auto;
}

.text {
    margin-left: 40px;
    color: white;
    max-width: 600px;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.social-icons a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

/* Centralizar foto e redes sociais em dispositivos menores */
@media (max-width: 600px) {
    .background {
        justify-content: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 15px;
        text-align: center;
    }

    .text {
        margin-left: 0;
        margin-top: 20px;
        font-size: 0.9rem;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }

    .social-icons {
        justify-content: center;
        margin-top: 20px;
    }

    .social-icons a {
        font-size: 1.2rem;
    }
}
